h1,
h2,
h3,
p {
  text-align: center;
}

h3 {
  font-family: "Poppins", sans-serif;
}

#current-city {
  font-family: "Comfortaa", cursive;
  font-size: 35px;
  letter-spacing: 2px;
  position: relative;
  margin-top: 13%;
  margin-bottom: 0%;
}

#current-time {
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  position: absolute;
  top: 7%;
  right: 5%;
}

#current-date {
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  position: absolute;
  top: 4%;
  right: 5%;
}

#search-city {
  border: 1px solid white;
  border-radius: 15px;
  text-align: center;
  position: relative;
  right: 3%;
}

#magnifying-glass {
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
  right: 3%;
}

#main-temp {
  font-family: "Comfortaa", cursive;
  font-size: 90px;
  position: relative;
  top: 8%;
  margin-bottom: 0;
}

#main-forecast {
  font-size: 22px;
  position: relative;
  top: 10%;
}

button {
  background-color: transparent;
  color: transparent;
  border: 1px solid transparent;
}

#celsius-link,
#fahrenheit-link {
  text-decoration: none;
}
#main-celsius {
  color: black;
  font-size: 22px;
  position: relative;
  top: 20px;
  right: 3%;
}

#main-fahrenheit {
  font-size: 22px;
  position: relative;
  top: 20px;
  left: 2%;
  color: rgba(66, 75, 79, 0.6);
}

#degree-divider {
  font-size: 22px;
  position: relative;
  top: 20px;
}

#main-high {
  font-size: 22px;
  position: relative;
  margin-right: 4%;
}

#main-low {
  font-size: 22px;
  position: relative;
  color: rgba(66, 75, 79, 0.6);
}

#temp-divider {
  position: relative;
  right: 2%;
}

.card {
  margin: 100px auto;
  display: block;
  border: 1px solid black;
  border-radius: 40px;
}

.circle {
  margin: 0 auto;

  display: block;
  border: 8px solid rgba(66, 75, 79, 0.4);
  border-radius: 50%;
  height: 240px;
  width: 240px;
  position: relative;
  bottom: 28px;
}

#affirmations {
  font-family: "Comfortaa", cursive;
  position: relative;
  margin-top: 2%;
}

#item1 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  position: relative;
  top: 10px;
}

#item2 {
  text-align: center;
  color: rgba(66, 75, 79, 0.4);
  font-size: 60px;
  position: relative;
  left: 23%;
  top: 15%;
}
#item3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

#forecast-temp-high,
#forecast-temp-low {
  position: relative;
  top: 40px;
}

#forecast-temp-low {
  color: rgba(66, 75, 79, 0.4);
}
#left-arrow {
  color: rgba(66, 75, 79, 0.6);
  font-size: 30px;
  position: relative;
  right: 7%;
  margin-top: 15%;
}

#right-arrow {
  color: rgba(66, 75, 79, 0.6);
  font-size: 30px;
  position: relative;
  left: 93.5%;
  margin-bottom: 80%;
}

#updated {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  position: relative;
  top: 155%;
  left: 50%;
}
